.env
.env.*
!.env.example

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

venv/
.venv/
django_env/
env/

db.sqlite3
*.sqlite3

media/audio/*
!media/audio/.gitkeep

media/transcripts/*
!media/transcripts/.gitkeep

staticfiles/

data/chroma_db/*
!data/chroma_db/.gitkeep

data/chunks/*
!data/chunks/.gitkeep

*.log

.vscode/
.idea/
.DS_Store
Thumbs.db