{% load static %} 
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Site{% endblock %}</title>
    <!-- 공통 CSS 가져오기 -->
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav> <!-- 공통 네비게이션 바 --> </nav>

    <!-- 이 부분이 각 페이지마다 바뀔 부분입니다 -->
    {% block content %}
   
    
    {% endblock %}

    <!-- 공통 JS 가져오기 -->
    <script src="{% static 'js/common.js' %}"></script>
    {% block extra_script %}{% endblock %}
</body>
</html>